<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @word.name %>
</p>

<p>
  <b>Definition:</b>
  <%= @word.definition %>
</p>

<p>
  <b>Mots associés:</b>
  <ul>
  <% @word.words.each do |word| %>
    <li>
      <%=  link_to word.name, word_path(word) %>
    </li>
  <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
