<!DOCTYPE html>
<html>
<head>
  <title>LexiqueOnRails</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user and current_user.is_admin? %>
  <%= link_to "Todo", todo_words_path %>
  <%= link_to "Sign out", sign_out_words_path %>
<% else %>
  <%= link_to "Back Office", back_office_words_path %>
<% end %>
<%= yield %>

</body>
</html>
